footer.footer 
    .footer-logo
        img(src='/img/logo-green.png' alt='Natour Logo')
    ul.footer__nav 
        li: a(href='#') About Us
        li: a(href='#') Download App
        li: a(href='#') Become Guide
        li: a(href='#') Careers
        li: a(href='#') Contact US
    p.footer__copyright &copy; by Abitech All Right Reserved.
